:root {
  --main-color: #373E45;
  --border-table-color: #4B5258;
  --border-image-color: #FFFFFF1A;
  --transparent30-white: #FFFFFF4D;
  --transparent40-white: #FFFFFF66;
  --transparent10-white: #FFFFFF0a;
}

#root {
  font-family: "Inter", serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-color);
  color: white;
  padding: 40px 10px 40px;
  overflow-x: hidden;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 400px) {
  body {
    padding: 56px 40px 56px;
  }
}

@media (min-width: 800px) {
  body {
    padding: 80px;
  }
}